.mat-elevation-z8{
    margin-bottom: 15px;
    width: 100%;
}
.small-table{
    overflow-x: scroll !important;
}

mat-form-field{
    margin-top: 0 !important;
}

table {
    width: 100%;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}