
<div class="row">
    <div class="col-12 col-lg-3">
        <div class="container card">
            

        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="container card">
        

        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="container card">
            

        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="container card">
            

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-xl-6 ">
        <div class="container card">
            <app-line-chart></app-line-chart>

        </div>

    </div>
    <div class="col-12 col-xl-6">
        <div class="container card">
            <app-bar-chart></app-bar-chart>

        </div>

    </div>

</div>

<div class="row">
    <div class="col-12">
        <div class="container card">
            <app-table></app-table>

        </div>
    </div>
</div>