<div class="container-flex" *ngFor="let config of catalogConfig">
<div class="row" >
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="{{config.cervezasCatalog}}"
        alt="CERVEZAS"
        />
        <p>CERVEZAS</p>
        <a [routerLink]="['/cervezas']" class="btn btn-dark myAnim">
            Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="{{config.vinosCatalog}}"
        alt="VINOS Y ESPUMANTES"
        />
        <p>VINOS Y ESPUMANTES</p>
        <a [routerLink]="['/vinos']" class="btn btn-dark">
            Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="{{config.destiladosCatalog}}"
        alt="DESTILADOS"
        />
        <p>DESTILADOS</p>
        <a [routerLink]="['/destilados']" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="{{config.whiskysCatalog}}"
        alt="WHISKYS"
        />
        <p>WHISKYS</p>
        <a [routerLink]="['/whiskys']" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="{{config.regalosCatalog}}"
        alt="PARA REGALAR"
        />
        <p>PARA REGALAR</p>
        <a [routerLink]="['/regalos']" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="{{config.combosCatalog}}"
        alt="COMBOS"
        />
        <p>COMBOS</p>
        <a [routerLink]="['/combos']" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="{{config.aperitivosCatalog}}"
        alt="APERITIVOS"
        />
        <p>APERITIVOS</p>
        <a [routerLink]="['/aperitivos']" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="{{config.sinAlcoholCatalog}}"
        alt="BEBIDAS SIN ALCOHOL"
        />
        <p>BEBIDAS SIN ALCOHOL</p>
        <a [routerLink]="['/sinalcohol']" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="btn-edit">
        <button *ngIf="!isAdmin"
        (click)="openEdit(editConfig, config)"
        class="btn btn-danger btn-sm gap-1 mt-2"
        >Editar Catalogos <i class="fa-solid fa-pen"></i
    ></button> 
    </div>
</div>
</div>


<!-- Modal Editar imagenes Catalogos -->

<ng-template #editConfig let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title2">Editar Sección Catalogos</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm" #f="ngForm">
        <div>
          <label for="cervezasCatalog">Imagen del Catalogo de Cervezas</label>
          <div class="input-group">
            <input class="form-group"
            formControlName="cervezasCatalog"
            name="cervezasCatalog" class="form-control" required/>
            <img src="{{this.editForm.value.cervezasCatalog}}" height="100px">
          </div>
        </div>
        <div class="form-group">
          <label for="vinosCatalog">Imagen del Catalogo de Vinos Y Espumantes</label>
          <div class="input-group">
            <input type="text" formControlName="vinosCatalog" name="vinosCatalog" class="form-control" required/>
            <img src="{{this.editForm.value.vinosCatalog}}" height="100px">
          </div>
        </div>
        <div class="form-group">
          <label for="destiladosCatalog">Imagen del Catalogo de Destilados</label>
          <div class="input-group">
            <input  type="text" formControlName="destiladosCatalog" name="destiladosCatalog" class="form-control" required/>
            <img src="{{this.editForm.value.destiladosCatalog}}" height="100px">
          </div>
        </div>
        <div class="form-group">
          <label for="whiskysCatalog">Imagen del Catalogo de Whiskys</label>
          <div class="input-group">
            <input 
            formControlName="whiskysCatalog"
            name="whiskysCatalog" class="form-control" required/>
            <img src="{{this.editForm.value.whiskysCatalog}}" height="100px">
          </div>
        </div>
        <div class="form-group">
          <label for="regalosCatalog">Imagen del Catalogo de Regalos</label>
          <div class="input-group">
            <input type="text" formControlName="regalosCatalog" name="regalosCatalog" class="form-control" required/>
            <img src="{{this.editForm.value.regalosCatalog}}" height="100px">
          </div>
        </div>
        <div class="form-group">
          <label for="combosCatalog">Imagen del Catalogo de Combos</label>
          <div class="input-group">
            <input type="text" formControlName="combosCatalog" name="combosCatalog" class="form-control" required/>
            <img src="{{this.editForm.value.combosCatalog}}" height="100px">
          </div>
        </div>
        <div class="form-group">
          <label for="aperitivosCatalog">Imagen del Catalogo de Aperitivos</label>
          <div class="input-group">
            <input
            formControlName="aperitivosCatalog"
            name="aperitivosCatalog" class="form-control" required/>
            <img src="{{this.editForm.value.aperitivosCatalog}}" height="100px">
          </div>
        </div>
        <div class="form-group">
          <label for="sinAlcoholCatalog">Imagen del Catalogo de Sin Alcohol</label>
          <div class="input-group">
            <input type="sinAlcoholCatalog"
            formControlName="sinAlcoholCatalog" name="sinAlcoholCatalog" class="form-control" required/>
            <img src="{{this.editForm.value.sinAlcoholCatalog}}" height="100px">
          </div>
        </div>
      </form>
  
      <div class="modal-footer">
  
        <button
          type="button"
          class="btn btn-primary"
          (click)="modal.close('Save click')"
        >
          Cerrar
        </button>
        <button data-dismiss="modal" class="btn btn-danger" (click)="onSave()" >
          Actualizar
        </button>
      </div>
    </div>
  </ng-template>
