table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

.mat-icon {
    font-size: 18px;
    
}
.btn {
    color: rgb(7, 7, 7);
}
.btn:hover{
    color: rgb(112, 112, 112);
}

.my-2{
    width: 100%;
    display: flex;
    justify-content: center;
}

mat-form-field{
    width: 100%;
    display: block;
    flex-direction: row;
}

.error{
    color: red;
}
