.container-fluid{
    padding: 0;
    margin: 0;
}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 500px;
    
}

.col-3{
    padding: 0;
}

.sidebar{
    width: 4.5rem;
    height: 100vh;
    background-color: black;
}

.nav-link{
    padding: 8px 8px;
}

a{
    color: black;
    font-size: calc(0.6em + 1vw)
}

a:hover{
    color: rgb(122, 122, 122);
}

i{
    height: 24px;
    width: 24px;
    color: white;
}
i:hover{
    color: rgb(122, 122, 122);
}

