
.card {
    height: 500px;
    width: 300px;
    background-color: black;
}

.form{
    display: flex;
    flex-direction: column;
}


::ng-deep .mat-checkbox-ripple .mat-ripple-element {
    background-color: black !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: black !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: black !important;
}

