<div id="carouselExampleFade" class="carousel slide carousel-fade mh-100 mw-100 " 
data-bs-ride="carousel"  *ngFor="let config of sliderConfig">
<div class="carousel-indicators m-2">
<div>
  <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>
<div class="btn-edit">
  <a *ngIf="!isAdmin"
  (click)="openEdit(editConfig, config)"
  class="btn btn-danger btn-sm gap-1"
  >Editar Slider <i class="fa-solid fa-pen"></i
></a> 
</div>
</div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{config.slider1}}" accept="image/*" class="d-block w-100" alt="slider1">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{config.title1}}</h5>
          <p>{{config.text1}}</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{config.slider2}}" accept="image/*" class="d-block w-100" alt="slider2">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{config.title2}}</h5>
          <p>{{config.text2}}</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{config.slider3}}" accept="image/*" class="d-block w-100" alt="slider3">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{config.title3}}</h5>
          <p>{{config.text3}}</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" 
    data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" 
    data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <!-- <div class="d-flex justify-content-center mt-1">
    <a 
      (click)="openEdit(editImages, image)"
      class="btn btn-danger gap-1"
      >Editar Imagenes Slider <i class="fa-solid fa-pen"></i
    ></a>   
  </div> -->

  <!-- Modal Editar imagenes y texto del Slider -->

  <ng-template #editConfig let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title2">Editar Carrusel</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm" #f="ngForm">

        <div class="form-group">
          <mat-form-field  appearance="outline">
            <mat-label for="slider1">Imagen 1</mat-label>
            <div class="input-group">
              <input matInput class="input-group form-control"
              formControlName="slider1"
              name="slider1" required/>
              <img src="{{this.editForm.value.slider1}}" height="100px">
            </div>
            </mat-form-field >
        </div>

        <div class="form-group">
          <mat-form-field  appearance="outline">
            <mat-label for="title1">Titulo 1</mat-label>
              <input matInput type="text" 
              formControlName="title1" 
              name="title1" 
              class="form-control" 
              required/>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field  appearance="outline">
            <mat-label for="text1">Texto 1</mat-label>
            <div class="input-group">
              <input matInput 
              type="text" 
              formControlName="text1" 
              name="text1" 
              class="form-control" 
              required/>
            </div>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label for="slider2">Imagen 2</mat-label>
            <div class="input-group">
              <input matInput
              formControlName="slider2"
              name="slider2" class="form-control" required/>
              <img src="{{this.editForm.value.slider2}}" height="100px">
            </div>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label for="title2">Titulo 2</mat-label>
            <div class="input-group">
              <input matInput type="text" 
              formControlName="title2" 
              name="title2" 
              class="form-control" 
              required/>
            </div>

          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field  appearance="outline">
            <mat-label for="text2">Texto 2</mat-label>
            <div class="input-group">
              <input matInput type="text" 
              formControlName="text2" 
              name="text2" 
              class="form-control" 
              required/>
            </div>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field  appearance="outline">
            <mat-label for="slider3">Imagen 3</mat-label>
            <div class="input-group">
              <input matInput
              formControlName="slider3"
              name="slider3" class="form-control" required/>
              <img src="{{this.editForm.value.slider3}}" height="100px">
            </div>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field  appearance="outline">
            <mat-label for="title3">Titulo 3</mat-label>
            <div class="input-group">
              <input matInput type="text"
              formControlName="title3" 
              name="title3" 
              class="form-control" 
              required/>
            </div>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field  appearance="outline">
            <mat-label for="text3">Texto 3</mat-label>
            <div class="input-group">
              <input matInput type="text" 
              formControlName="text3" 
              name="text3" 
              class="form-control" 
              required/>
            </div>

          </mat-form-field>
        </div>
      </form>
  
      <div class="modal-footer">
  
        <button
          type="button"
          class="btn btn-primary"
          (click)="modal.close('Save click')"
        >
          Cerrar
        </button>
        <button data-dismiss="modal" class="btn btn-danger" (click)="onSave()" >
          Actualizar
        </button>
      </div>
    </div>
  </ng-template>