<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="productos">Editar Productos</a>
      <a mat-list-item routerLink="home">Editar Página General</a>
      <a mat-list-item routerLink="ventas">Ventas</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Administración</span>
      <a class="btn" href="home" ><mat-icon  aria-hidden="false" aria-label="Example home icon" fontIcon="home">home</mat-icon></a>
      
    </mat-toolbar>
    
    <div class="contenedor">
      <router-outlet></router-outlet>
    </div>

  <a class="to-top btn-dark " (click)="scrollToTop()" [ngClass]="{ 'show-scrollTop': windowScrolled }">
      <i class="fas fa-arrow-up"></i>
  </a>

  </mat-sidenav-content>
</mat-sidenav-container>


