.container{
    height: 100vh;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 999;
    background: black;
}

mat-toolbar {
    
    display: flex;
    justify-content: space-between
}

.mat-icon {
    font-size: 38px;
    
}
a {
    color: white;
}
.btn:hover{
    color: rgb(122, 122, 122);
}
