
  <div class="row top_links d-flex align-items-right">

      <ul class=" d-flex">
        <li>
          <a href="contacto" class="top">¿Cómo Llegar?</a>
        </li>
        <li>
          <a href="contacto" class="top">Contacto</a>
        </li>

        <li>
        <a href="" target="_blank" class="top"><img src="img/icon-wp.png">  1160520721</a>
        </li>
      </ul>
    </div>

  <!-- https://api.whatsapp.com/send?phone=+5491160520721 -->

<nav class="navbar sticky-top nav-bg navbar-expand-lg navbar-dark">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#"><img class="logo " src="../../../assets/img/ebrioslogo.png" alt="Logo"></a>
      
        <a class="btn btn-primary " data-bs-toggle="offcanvas"
        href="#offcanvasExample"
        role="button" 
        aria-controls="offcanvasExample">
        Hace tu Pedido
      </a>
      
    </div>
  </nav>
  
  <div class="offcanvas offcanvas-start nav-bg" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header img-fluid justify-content-center aling-item-center d-flex">
      <a class="navbar-brand " href="#"><img class="logo " src="../../../assets/img/ebrioslogo.png" alt="Logo"></a>
    </div>
    <div class="offcanvas-body">
      <div class="dropdown mt-3">
        <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton"> -->
      <ul class="text-color-list">
      <li class="nav-item m-1 ">
        <a class="nav-link" href="#">CERVEZAS</a>
      </li>
      <li class="nav-item m-1 dropdown">
        <a class="nav-link" href="#">VINOS Y ESPUMANTES</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link" href="#">DESTILADOS</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link" href="#">WHISKY</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link" href="#">PARA REGALAR</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link" href="#">COMBOS</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link" href="#">APERITIVOS</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link" href="#">BEBIDAS SIN ALCOHOL</a>
      </li>
        </ul>
      </div>
    </div>
  </div>

    <div class="container-fluid bg-dark justify-content-center aling-item-center d-lg-flex d-none d-lg-block">
      <ul class="text-color-list d-flex p-0 m-0">
        <li class="nav-item m-1 ">
          <a class="nav-link" href="#">CERVEZAS</a>
        </li>
        <li class="nav-item m-1 dropdown">
          <a class="nav-link" href="#">VINOS Y ESPUMANTES</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link" href="#">DESTILADOS</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link" href="#">WHISKY</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link" href="#">PARA REGALAR</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link" href="#">COMBOS</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link" href="#">APERITIVOS</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link" href="#">BEBIDAS SIN ALCOHOL</a>
        </li>
      </ul>
    </div>

  