
        <form #f="ngForm" (ngSubmit)="onRegister()" class="form">

            <h1 class="h3 my-3 fw-normal">Por favor Regístrate</h1>
            
            <mat-form-field appearance="outline" class="form-group">
            <mat-label for="nombre">Nombre</mat-label>
            <input matInput type="text" name="nombre" id="nombre" class="form-control"
            [(ngModel)]="nombre" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group">
                <mat-label for="nombreUsuario">Nombre de Usuario</mat-label>
                <input matInput type="text" name="nombreUsuario" id="nombreUsuario" class="form-control"
                [(ngModel)]="nombreUsuario" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group">
                <mat-label for="password">Contraseña</mat-label>
                <input matInput type="password" name="password" id="password" class="form-control"
                [(ngModel)]="password" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-group">
            <mat-label for="email">Correo Electrónico</mat-label>
            <input matInput type="text" name="email" id="email" class="form-control"
            [(ngModel)]="email" required>
            </mat-form-field>

                <button class="w-100 btn btn-lg btn-dark" [disabled]="!f.valid">Crear Cuenta</button>
        </form>


