<footer class="py-4">
    <div class="container"> 
    <div class="row ">
    <div class="col-6 col-lg-4 mb-3">
        <h5>CONTACTO</h5>
        <ul class="nav flex-column mb-3">
        <li class="nav-item mb-2"><i class="fa-regular fa-clock static-icon"></i><span>Lunes a Viernes de 8 a 17Hs.</span></li>
        <li class="nav-item mb-2"><i class="fa-solid fa-mobile-screen static-icon"></i><span>1164740303</span></li>
        <li class="nav-item mb-2"><i class="fa-regular fa-envelope static-icon"></i><span>ebrios@gmail.com</span></li>
        <li class="nav-item mb-2"><i class="fa-solid fa-map-location-dot static-icon"></i><span>Av. Blvd. de Mayo 410, Alejandro Korn</span></li>
        </ul>
        <h5>ACCESO RÁPIDO</h5>
        <ul class="list-unstyled">
            <li class="ms-3"><a target="_blank" href="https://www.google.com.ar/maps/place/Ebrio%E2%80%99s+Bebidas+Alejandro+Korn/@-34.9872946,-58.3791782,21z/data=!4m12!1m6!3m5!1s0x95bd2d96a780fdeb:0xdd6b919690001332!2sEbrio%E2%80%99s+Bebidas+Alejandro+Korn!8m2!3d-34.9872946!4d-58.3790414!3m4!1s0x95bd2d96a780fdeb:0xdd6b919690001332!8m2!3d-34.9872946!4d-58.3790414" class="nav-link p-0">¿Cómo Llegar?</a></li>
            <li class="ms-3"><a routerLink='/contacto' class="nav-link p-0">Contacto</a></li>
        </ul>
    </div>

    <div class="col-6 col-lg-4 mb-3 colum">
        <h5>CATEGORÍAS</h5>
        <ul class="nav flex-column">
        <li class="nav-item mb-2 categories-list"><a href="#" class="nav-link p-0">Vinos y Espumantes</a></li>
        <li class="nav-item mb-2 categories-list"><a href="#" class="nav-link p-0">Whiskys</a></li>
        <li class="nav-item mb-2 categories-list"><a href="#" class="nav-link p-0">Cervezas</a></li>
        <li class="nav-item mb-2 categories-list"><a href="#" class="nav-link p-0 ">Aperitivos</a></li>
        <li class="nav-item mb-2 categories-list"><a href="#" class="nav-link p-0 ">Destilados</a></li>
        <li class="nav-item mb-2 categories-list"><a href="#" class="nav-link p-0 ">Sin Alcohol</a></li>
        <li class="nav-item mb-2 categories-list"><a href="#" class="nav-link p-0 ">Regalos</a></li>
        <li class="nav-item mb-2 categories-list"><a href="#" class="nav-link p-0 ">Combos</a></li>
        </ul>
    </div>
    <div class="col-12 col-lg-4 mb-3 colum">
        <h5>SEGUINOS</h5>
        <ul class="list-unstyled d-flex">
            <li ><a href="#"><i class="fa-brands fa-facebook-f "></i></a></li>
            <li ><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li ><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
    </div>

    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-end m-3 border-top">
        <p class="m-3">© 2022 Ebrios, Inc. All rights reserved.</p>
    </div>
</div>
</footer>
