<footer class="py-5">
    <div class="container"> 
    <div class="row">
    <div class="col-6 col-lg-4 mb-3">
        <h5>Contacto</h5>
        <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa-regular fa-clock"></i> Lunes a Viernes de 8 a 17Hs.</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa-solid fa-mobile-screen"></i> 1164740303</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa-regular fa-envelope"></i> ebrios@gmail.com</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa-solid fa-map-location-dot"></i> Av. Blvd. de Mayo 410, Alejandro Korn</a></li>
        </ul>
    </div>

    <div class="col-6 col-lg-4 mb-3">
        <h5>Categorias</h5>
        <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Vinos y Espumantes</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Whiskys</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cervezas</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Aperitivos</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Destilados</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sin Alcohol</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Regalos</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Combos</a></li>
        </ul>
    </div>
    <div class="col-12 col-lg-4 mb-3">
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
    </div>
<!-- 
        <form>
        <h5>Subscribe to our newsletter</h5>
        <p>Monthly digest of what's new and exciting from us.</p>
        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
        </div>
        </form>
    </div> -->
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>© 2022 Ebrios, Inc. All rights reserved.</p>
    </div>
</div>
</footer>
