<div class="container-fluid">
    <div class="container-fluid">
    <span>
    <ul class="menu-btns d-flex text-color-list p-0 mb-0">
        <li>
        <a href="" class="text-secondary mx-3">¿Cómo Llegar?</a>
        </li>
        <li>
        <a href="" class="text-secondary mx-3">Contacto</a>
        </li>

        <li>
        <a href="https://api.whatsapp.com/send?phone=+5491164740303" 
        target="_blank" 
        class="text-secondary mx-3 ">1164740303</a>
        </li>
    </ul>
    </span>
</div>

    <app-navbar></app-navbar>


    <router-outlet ></router-outlet>

        <div class="row">
            <app-footer></app-footer>
        </div>

</div>