<app-navbar></app-navbar>

<div class="container main-container my-3">
    <div class="row my-5">
        <h1>REGALOS</h1>
        
    </div>
    <hr>
    <div class="row row-container" >
        <div class="col-6 col-md-4 col-lg-3" *ngFor="let producto of products">
            <div class="card-img">
                <figure>
                    <a href="#">
                        <img class="img-fluid" src="{{producto.img}}" alt="image">
                    </a>
                </figure>
                <a href="#" class="align-items-center justify-content-center">
                    <h3>{{producto.marca}} {{producto.name}}</h3>
                </a>
                <div class="price-box align-items-center justify-content-center">
                    <span class="new-price"><b>$ {{producto.price}}</b></span>
                </div>
                    <div class="btn-buy d-flex justify-content-center" >
                        <form action="">
                            <div class='input-group input-group-sm my-2' style='width:100px'>
                                <button class='btn btn-outline-dark cantMin' type='button'>-</button>
                                <input class='form-control text-center cantValor' data-stock='' readonly type='text' pattern='[0-9]+'  name='cantidad' value='1' size='6' maxlength='2' />
                                <button class='btn btn-outline-dark cantMas' type='button'>+</button>
                            </div>
                                <button name='send' type='submit' class='btn btn-outline-dark'>AGREGAR</button>
                        </form>
                    </div>

            </div>
    </div>
</div>

<app-footer></app-footer>