<div class="container">

    <div class="row text-center">
        <h2 >Ofertas</h2>
    </div>

    <section class="offers">
        <div class="containers">
            <div class="bg-position">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <!-- Hacerlo dinamico con 1 solo ng-template -->
                        <div class="slide-item align-items-center justify-content-center" >
                            <figure>
                                <a href="#">
                                    <img class="img-settings" src="../assets/img/slide.jpg" alt="image">
                                </a>
                            </figure>
                            <a href="#" class="align-items-center justify-content-center">
                                <h3>title</h3>
                            </a>
                            <div class="price-box align-items-center justify-content-center">
                                <span class="new-price"><b>$ 1221</b></span>
                            </div>
                            <div class="btn-buy">
                                <form action="">
                                </form>
                            </div>
                        </div>
                    </ng-template> 

                    <ng-template carouselSlide>
                        <!-- Hacerlo dinamico con 1 solo ng-template -->
                        <div class="slide-item align-items-center justify-content-center" >
                            <figure>
                                <a href="#">
                                    <img class="img-settings" src="../assets/img/slide.jpg" alt="image">
                                </a>
                            </figure>
                            <a href="#" class="align-items-center justify-content-center">
                                <h3>title</h3>
                            </a>
                            <div class="price-box align-items-center justify-content-center">
                                <span class="new-price"><b>$ 1221</b></span>
                            </div>
                            <div class="btn-buy">
                                <form action="">

                                </form>

                            </div>
                        </div>
                    </ng-template> 
                    <ng-template carouselSlide>
                        <!-- Hacerlo dinamico con 1 solo ng-template -->
                        <div class="slide-item align-items-center justify-content-center" >
                            <figure>
                                <a href="#">
                                    <img class="img-settings" src="../assets/img/slide.jpg" alt="image">
                                </a>
                            </figure>
                            <a href="#" class="align-items-center justify-content-center">
                                <h3>title</h3>
                            </a>
                            <div class="price-box align-items-center justify-content-center">
                                <span class="new-price"><b>$ 1221</b></span>
                            </div>
                            <div class="btn-buy">
                                <form action="">

                                </form>

                            </div>
                        </div>
                    </ng-template> 
                    <ng-template carouselSlide>
                        <!-- Hacerlo dinamico con 1 solo ng-template -->
                        <div class="slide-item" >
                            <figure>
                                <a href="#">
                                    <img class="img-settings" src="../assets/img/slide.jpg" alt="image">
                                </a>
                            </figure>
                            <a href="#">
                                <h3>title</h3>
                            </a>
                            <div class="price-box">
                                <span class="new-price"><b>$ 1221</b></span>
                            </div>
                            <div class="btn-buy">
                                <form action="">

                                </form>

                            </div>
                        </div>
                    </ng-template> 
                    <ng-template carouselSlide>
                        <!-- Hacerlo dinamico con 1 solo ng-template -->
                        <div class="slide-item align-items-center justify-content-center" >
                            <figure>
                                <a href="#">
                                    <img class="img-settings" src="../assets/img/slide.jpg" alt="image">
                                </a>
                            </figure>
                            <a href="#" class="align-items-center justify-content-center">
                                <h3>title</h3>
                            </a>
                            <div class="price-box align-items-center justify-content-center">
                                <span class="new-price"><b>$ 1221</b></span>
                            </div>
                            <div class="btn-buy">
                                <form action="">

                                </form>

                            </div>
                        </div>
                    </ng-template> 
                    <ng-template carouselSlide>
                        <!-- Hacerlo dinamico con 1 solo ng-template -->
                        <div class="slide-item align-items-center justify-content-center" >
                            <figure>
                                <a href="#">
                                    <img class="img-settings" src="../assets/img/slide.jpg" alt="image">
                                </a>
                            </figure>
                            <a href="#" class="align-items-center justify-content-center">
                                <h3>title</h3>
                            </a>
                            <div class="price-box align-items-center justify-content-center">
                                <span class="new-price"><b>$ 1221</b></span>
                            </div>
                            <div class="btn-buy">
                                <form action="">

                                </form>

                            </div>
                        </div>
                    </ng-template> 


                </owl-carousel-o>
            </div>
        
        </div>

    </section>




</div>


