
h3 {
    text-align: center;
}

b {
    display: flex;
    justify-content: center;
}
.slide-item{
    margin: 2em;
    
}

.img-settings:hover {
    box-shadow: 0px 50px rgba(0,0,0,0.5);
}

.offers .owl-next, .offers .owl-prev {
    background-color: aqua !important;
    color: black !important;
    height: 60px !important;
    width: 60px !important;
    border-radius: 50% !important;

}