<div class="container my-3">
    
    <div class="row my-5 title-container">
        <h1>APERITIVOS</h1>
        
    </div>
    <div class="btn-filter">
        <button class="btn btn-dark
        d-lg-none " 
        href="#collapseFilter"
        data-bs-toggle="collapse"
        type="button">Filtro <i class="fa-solid fa-filter"></i></button>
        <div class="collapse" id="collapseFilter">
            <hr>
            <div class="form-group">
                <input type="text" class="form-control" name="filter" placeholder="Marca..." [(ngModel)]="filter">
            </div>
        </div>
    </div>
    <hr>
    <div class="row ">
    <div class="col-lg-2">
            <div class=" d-none d-lg-block">
                <a class="btn btn-dark"
                href="#collapseFilterLg"
                data-bs-toggle="collapse">
                Filtrar por Marca <i class="fa-solid fa-filter"></i></a>
                <div class="collapse" id="collapseFilterLg">
                    <hr>
                    <div class="form-group">
                        <input type="text" class="form-control" name="filter" placeholder="Marca..." [(ngModel)]="filter">
                    </div>
                </div>
            </div>
    </div>

        <div class="col-lg-10" >
            <div class="row" >

                <div class="col-6 col-md-4 col-lg-3 my-1" *ngFor="let product of products | filter:filter">
                            <div class="card-img text-center" >
                                <figure>
                                        <img class="img-fluid" src="{{product.image}}" alt="image">
                                </figure>
                                    <h3>{{product.brand}} {{product.style}} {{product.volume}}</h3>
                                <div class="price-box">
                                    <span class="new-price"><b>$ {{product.price | currency:'ARS' }}</b></span>
                                </div>
                                    <div class="btn-buy d-flex justify-content-center" >
                                        <form (ngSubmit)="addCart(product)">
                                        <div class='input-group input-group-sm my-2' style='width:100px'>
                                                <button class='btn btn-outline-dark' type='button' (click)="downQuantity(product)" [disabled]="product.quantity <= 0">-</button>
                                                <input class='form-control text-center' type="number" name="quantity" [(ngModel)]="product.quantity" (focusout)="verifyProductQuantity(product)"/>
                                                <button class='btn btn-outline-dark' type='button' (click)="upQuantity(product)">+</button>
                                            </div>
                                                <button name='send' type='submit' class='btn btn-outline-dark'>AGREGAR</button>
                                        </form>
                                    </div>
                            </div>            
                    </div>
            </div>
        </div>
    </div>
