<div class="container-flex">

    <div class="row text-center">
        <h2 >Ofertas</h2>
    </div>

    <section class="offers">
        <div class="containers">
            <div class="bg-position">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide *ngFor="let product of products">
                        <div class=" card-img text-center">
                            <figure class="img-center">
                                    <img class="img-fluid" src="{{product.image}}" alt="image">
                            </figure>
                                <h3>{{product.brand}} {{product.style}} {{product.volume}}</h3>
                            <div class="price-box">
                                <span class="new-price"><b>$ {{product.price | currency:'ARS' }}</b></span>
                            </div>
                                <div class="btn-buy d-flex justify-content-center" >
                                    <form (ngSubmit)="addCart(product)">
                                    <div class='input-group input-group-sm my-2' 
                                        style='width:100px'>
                                            <button class='btn btn-outline-dark' 
                                            type='button' (click)="downQuantity(product)" 
                                            [disabled]="product.quantity <= 0">-</button>
                                            <input class='form-control text-center'
                                            type="number" name="quantity" 
                                            [(ngModel)]="product.quantity" 
                                            #clearQuantity
                                            (focusout)="verifyProductQuantity(product)"/>
                                            <button class='btn btn-outline-dark' 
                                            type='button' (click)="upQuantity(product)">+</button>
                                        </div>
                                            <button  name='send' type='submit' class='btn btn-outline-dark btn-send'>AGREGAR</button>
                                    </form>
                                </div>
                        </div>
                    </ng-template> 
                </owl-carousel-o>
            </div>
        
        </div>

    </section>




</div>


