<section class="hot-sales">



        <div class="row-5 ">
            <div class="col col-sm-6 most-saled">
                <img src="../assets/img/saled.jpg" alt="Most Saled">
            </div>

        </div>

            <div class="row-6">

                <div class="col-sm-3 recomended">
                    <div class="col-3">
                        <img src="../assets/img/beb1.jpg" alt="Most Saled">
    
                    </div>
                    <div class="col-3">
                        <img src="../assets/img/beb1.jpg" alt="Most Saled">
    
                    </div>
                </div>
    
                <div class="col-sm-3 recomended">
                    <div class="col-3">
                        <img src="../assets/img/beb1.jpg" alt="Most Saled">
    
                    </div>
                    <div class="col-3">
                        <img src="../assets/img/beb1.jpg" alt="Most Saled">
    
                    </div>
                </div>
            </div>



</section>
