<section class="hot-sales">

    <div class="row">
        <div class="col-sm-12 col-md-6 ">
            <div class="card-most">
                <img  class="most-saled img-fluid"
                src="../assets/img/saled.jpg" 
                alt="Most Saled">
            </div>

        </div>
        <div class="col-sm-12 col-md-6 hovered ">
            <div class="row">
                <div class="col-6 ">
                    <div class="card-recomend">
                        <img class="img-inside img-fluid" 
                        src="../assets/img/hot1.jpg" 
                        alt="Most Saled">

                    </div>
                </div>
                <div class="col-6 ">
                    <div class="card-recomend">
                        <img class="img-inside img-fluid" 
                        src="../assets/img/hot2.jpg" 
                        alt="Most Saled">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 ">
                    <div class="card-recomend">
                        <img class="img-inside img-fluid" 
                        src="../assets/img/hot3.jpg" 
                        alt="Most Saled">

                    </div>
                </div>
                <div class="col-6 ">
                    <div class="card-recomend">
                        <img class="img-inside img-fluid" 
                        src="../assets/img/hot4.jpg" 
                        alt="Most Saled">

                    </div>
                </div>
            </div>
        </div>

    </div>




        <!-- <div class="row">
            
            <div class="col col-sm-6 most-saled">
            </div>

        </div>

            <div class="row-6">

                <div class="col-sm-3 recomended">
                    <div class="col-3">
                        <img src="../assets/img/beb1.jpg" alt="Most Saled">
    
                    </div>
                    <div class="col-3">
                        <img src="../assets/img/beb1.jpg" alt="Most Saled">
    
                    </div>
                </div>
    
                <div class="col-sm-3 recomended">
                    <div class="col-3">
                        <img src="../assets/img/beb1.jpg" alt="Most Saled">
    
                    </div>
                    <div class="col-3">
                        <img src="../assets/img/beb1.jpg" alt="Most Saled">
    
                    </div>
                </div>
            </div>
-->


</section>
