<section class="hot-sales">

    <div class="row" *ngFor="let config of hotConfig">
        <div class="col-sm-12 col-md-6 ">
            <div class="card-most">
                <img  class="most-saled img-fluid"
                src="{{config.elegidoDelMes}}" 
                alt="Most Saled">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 hovered ">
            <div class="row">
                <div class="col-6 ">
                    <div class="card-recomend">
                        <img class="img-inside img-fluid" 
                        src="{{config.masVendido1}}" 
                        alt="Most Saled">
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="card-recomend">
                        <img class="img-inside img-fluid" 
                        src="{{config.masVendido2}}" 
                        alt="Most Saled">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 ">
                    <div class="card-recomend">
                        <img class="img-inside img-fluid" 
                        src="{{config.masVendido3}}" 
                        alt="Most Saled">
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="card-recomend">
                        <img class="img-inside img-fluid" 
                        src="{{config.masVendido4}}" 
                        alt="Most Saled">
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-edit">
            <button *ngIf="!isAdmin"
            (click)="openEdit(editConfig, config)"
            class="btn btn-danger btn-sm gap-1 mt-2"
            >Editar Elegidos <i class="fa-solid fa-pen"></i
        ></button> 
        </div>
    </div>

</section>

<!-- Modal Editar imagenes Más Vendidos -->

<ng-template #editConfig let-modal>
    <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Editar Sección Más Vendidos</h4>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
    >
    </button>
    </div>
    <div class="modal-body">
    <form [formGroup]="editForm" #f="ngForm">
        <div>
        <label for="elegidoDelMes">Imagen del Elegido del Mes</label>
        <div class="input-group">
            <input class="form-group"
            formControlName="elegidoDelMes"
            name="elegidoDelMes" class="form-control" required/>
            <img src="{{this.editForm.value.elegidoDelMes}}" height="100px">
        </div>
        </div>
        <div class="form-group">
        <label for="masVendido1">Imagen del Primer Más Vendido</label>
        <div class="input-group">
            <input type="text" formControlName="vinosCatalog" name="vinosCatalog" class="form-control" required/>
            <img src="{{this.editForm.value.masVendido1}}" height="100px">
        </div>
        </div>
        <div class="form-group">
        <label for="masVendido2">Imagen del Segundo Más Vendido</label>
        <div class="input-group">
            <input  type="text" formControlName="masVendido2" name="masVendido2" class="form-control" required/>
            <img src="{{this.editForm.value.masVendido2}}" height="100px">
        </div>
        </div>
        <div class="form-group">
        <label for="masVendido3">Imagen del Tercer Más Vendido</label>
        <div class="input-group">
            <input 
            formControlName="masVendido3"
            name="masVendido3" class="form-control" required/>
            <img src="{{this.editForm.value.masVendido3}}" height="100px">
        </div>
        </div>
        <div class="form-group">
        <label for="masVendido4">Imagen del Cuarto Más Vendido</label>
        <div class="input-group">
            <input type="text" formControlName="masVendido4" name="masVendido4" class="form-control" required/>
            <img src="{{this.editForm.value.masVendido4}}" height="100px">
        </div>
        </div>
    </form>

    <div class="modal-footer">

        <button
        type="button"
        class="btn btn-primary"
        (click)="modal.close('Save click')"
        >
        Cerrar
        </button>
        <button data-dismiss="modal" class="btn btn-danger" (click)="onSave()" >
        Actualizar
        </button>
    </div>
    </div>
</ng-template>
