.col-sm-12, .col-md-6, .col-lg-3 {
  padding: 4px;
}

.container-flex {
    margin: 4px;
    padding: 4px;
}

.card{
  padding: 0;
height: 200px;
width: 100%;
margin-bottom: 8px;
align-items: center;
border-radius: 4px;

box-shadow: 0 6px 10px rgba(0,0,0,.2), 0 0 6px rgba(0,0,0,.05);

transition: all 0.4s ease;
cursor: pointer;
overflow: hidden;
}

.col-img {
  height: 100%;
  width: 100%;
}

p, a {
  position: absolute;
  color: white;

}

p {
  top: 50px;
  font-weight: 700;
  font-size: 20px;
}
a {
  top: 150px;
}

.card > img:hover {
transform: scale(1.05);
transition: 0.5s;

}
