<div class="container-flex">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class=" card">
        <img
        class="col-img img-fluid"
        src="../../../assets/img/beb1.jpg"
        alt="asd"
        />
        <P>CERVEZAS</P>
        <a href="#" class="btn btn-dark">
            Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="../../../assets/img/beb1.jpg"
        alt="asd"
        />
        <P>VINOS Y ESPUMANTES</P>
        <a href="#" class="btn btn-dark">
            Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="../../../assets/img/beb1.jpg"
        alt="asd"
        />
        <P>DESTILADOS</P>
        <a href="#" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="../../../assets/img/beb1.jpg"
        alt="asd"
        />
        <P>WHISKYS</P>
        <a href="#" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="../../../assets/img/beb1.jpg"
        alt="asd"
        />
        <P>PARA REGALAR</P>
        <a href="#" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="../../../assets/img/beb1.jpg"
        alt="asd"
        />
        <P>COMBOS</P>
        <a href="#" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="../../../assets/img/beb1.jpg"
        alt="asd"
        />
        <p>APERITIVOS</p>
        <a href="#" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="../../../assets/img/beb1.jpg"
        alt="asd"
        />
        <p>BEBIDAS SIN ALCOHOL</p>
        <a href="#" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
</div>
</div>
