<div class="container-flex">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid opacity-mask"
        src="assets\img\cervezas.jpg"
        alt="asd"
        />
        <p>CERVEZAS</p>
        <a href="#" class="btn btn-dark myAnim">
            Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="assets\img\vinosyespumantes.jpg"
        alt="asd"
        />
        <p>VINOS Y ESPUMANTES</p>
        <a href="#" class="btn btn-dark">
            Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="assets\img\destilados.webp"
        alt="asd"
        />
        <p>DESTILADOS</p>
        <a href="#" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="assets\img\whisky.jpg"
        alt="asd"
        />
        <p>WHISKYS</p>
        <a href="#" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="assets\img\pararegalar.jpg"
        alt="asd"
        />
        <p>PARA REGALAR</p>
        <a href="#" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="assets\img\combos.jpg"
        alt="asd"
        />
        <p>COMBOS</p>
        <a href="#" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="assets\img\aperitivos.jpg"
        alt="asd"
        />
        <p>APERITIVOS</p>
        <a href="#" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="assets\img\bebidas sin alcohol.jpg"
        alt="asd"
        />
        <p>BEBIDAS SIN ALCOHOL</p>
        <a href="#" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
</div>
</div>
