
.card{
height: 200px;
width: 100%;
margin-bottom: 10px;
align-items: center;
border-radius: 4px;

background-repeat: no-repeat;
background-size:cover;
background-image: url("https://drinkshop.com.ar/img/06.jpg");

box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);

transition: all 0.4s ease;
padding: 14px 80px 18px 36px;
cursor: pointer;
}

.card:hover{
transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
