<div class="container-flex">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="assets\img\cervezas.jpg"
        alt="CERVEZAS"
        />
        <p>CERVEZAS</p>
        <a href="cervezas" class="btn btn-dark myAnim">
            Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="assets\img\vinosyespumantes.jpg"
        alt="VINOS Y ESPUMANTES"
        />
        <p>VINOS Y ESPUMANTES</p>
        <a href="vinos" class="btn btn-dark">
            Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="assets\img\destilados.webp"
        alt="DESTILADOS"
        />
        <p>DESTILADOS</p>
        <a href="destilados" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="assets\img\whisky.jpg"
        alt="WHISKYS"
        />
        <p>WHISKYS</p>
        <a href="whiskys" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="assets\img\pararegalar.jpg"
        alt="PARA REGALAR"
        />
        <p>PARA REGALAR</p>
        <a href="regalos" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="assets\img\combos.jpg"
        alt="COMBOS"
        />
        <p>COMBOS</p>
        <a href="combos" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="assets\img\aperitivos.jpg"
        alt="APERITIVOS"
        />
        <p>APERITIVOS</p>
        <a href="aperitivos" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="assets\img\bebidas sin alcohol.jpg"
        alt="BEBIDAS SIN ALCOHOL"
        />
        <p>BEBIDAS SIN ALCOHOL</p>
        <a href="sinalcohol" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
</div>
</div>
