<div class="container-flex" *ngFor="let config of catalogConfig">
<div class="row" >
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="{{config.cervezasCatalog}}"
        alt="CERVEZAS"
        />
        <p>CERVEZAS</p>
        <a [routerLink]="['/cervezas']" class="btn btn-dark myAnim">
            Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="{{config.vinosCatalog}}"
        alt="VINOS Y ESPUMANTES"
        />
        <p>VINOS Y ESPUMANTES</p>
        <a [routerLink]="['/vinos']" class="btn btn-dark">
            Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="{{config.destiladosCatalog}}"
        alt="DESTILADOS"
        />
        <p>DESTILADOS</p>
        <a [routerLink]="['/destilados']" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="{{config.whiskysCatalog}}"
        alt="WHISKYS"
        />
        <p>WHISKYS</p>
        <a [routerLink]="['/whiskys']" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="{{config.regalosCatalog}}"
        alt="PARA REGALAR"
        />
        <p>PARA REGALAR</p>
        <a [routerLink]="['/regalos']" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="{{config.combosCatalog}}"
        alt="COMBOS"
        />
        <p>COMBOS</p>
        <a [routerLink]="['/combos']" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="{{config.aperitivosCatalog}}"
        alt="APERITIVOS"
        />
        <p>APERITIVOS</p>
        <a [routerLink]="['/aperitivos']" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
        <img
        class="col-img img-fluid"
        src="{{config.sinAlcoholCatalog}}"
        alt="BEBIDAS SIN ALCOHOL"
        />
        <p>BEBIDAS SIN ALCOHOL</p>
        <a [routerLink]="['/sinalcohol']" class="btn btn-dark">Ver Catálogo</a>
    </div>
    </div>
    <div class="btn-edit">
        <button *ngIf="isAdmin"
        (click)="openEdit(editConfig, config)"
        class="btn btn-danger btn-sm gap-1 mt-2"
        >Editar Catalogos <i class="fa-solid fa-pen"></i
    ></button> 
    </div>
</div>
</div>


<!-- Modal Editar imagenes Catalogos -->

<ng-template #editConfig let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title2">Editar Sección Catalogos</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm" #f="ngForm">

        <div class="form-group">
          <!-- <mat-form-field appearance="outline" > -->
            <mat-label for="cervezasCatalog">Imagen del Catalogo de Cervezas</mat-label>
            <div class="input-group">
              <input 
              class="form-control"
              name="cervezasCatalog"
              type="file"
              alife-file-to-base64
              (onFileChanged)="onFileChangedCervezas($event)"  
              required/>
              <img src="{{this.editForm.value.cervezasCatalog}}" height="100px">
            </div>
          <!-- </mat-form-field> -->
        </div>
        <div  *ngIf="cervezasCatalogField!.errors && cervezasCatalogField!.touched">
          <div class="error mb-4" *ngIf="cervezasCatalogField!.hasError('required')">
            * Imagen Requerida
          </div>
        </div>

        <div class="form-group">
          <!-- <mat-form-field appearance="outline" > -->
            <mat-label for="vinosCatalog">Imagen del Catalogo de Vinos Y Espumantes</mat-label>
            <div class="input-group">
              <input type="text" 
              type="file"
              alife-file-to-base64
              (onFileChanged)="onFileChangedVinos($event)"  
              name="vinosCatalog" 
              class="form-control" 
              required/>
              <img src="{{this.editForm.value.vinosCatalog}}" height="100px">
            </div>
          <!-- </mat-form-field> -->
        </div>
        <div  *ngIf="vinosCatalogField!.errors && vinosCatalogField!.touched">
          <div class="error mb-4" *ngIf="vinosCatalogField!.hasError('required')">
            * Imagen Requerida
          </div>
        </div>

        <div class="form-group">
          <!-- <mat-form-field appearance="outline" > -->
            <mat-label for="destiladosCatalog">Imagen del Catalogo de Destilados</mat-label>
            <div class="input-group">
              <input
              type="file"
              alife-file-to-base64
              (onFileChanged)="onFileChangedDestilados($event)"  
              name="destiladosCatalog"
              class="form-control" required/>
              <img src="{{this.editForm.value.destiladosCatalog}}" height="100px">
            </div>
          <!-- </mat-form-field> -->
          </div>
          <div  *ngIf="destiladosCatalogField!.errors && destiladosCatalogField!.touched">
            <div class="error mb-4" *ngIf="destiladosCatalogField!.hasError('required')">
              * Imagen Requerida en formato URL
            </div>
          </div>

        <div class="form-group">
          <!-- <mat-form-field appearance="outline" > -->
            <mat-label for="whiskysCatalog">Imagen del Catalogo de Whiskys</mat-label>
            <div class="input-group">
              <input
              type="file"
              alife-file-to-base64
              (onFileChanged)="onFileChangedWhiskys($event)"  
              name="whiskysCatalog" class="form-control" required/>
              <img src="{{this.editForm.value.whiskysCatalog}}" height="100px">
            </div>
          <!-- </mat-form-field> -->
        </div>
        <div  *ngIf="whiskysCatalogField!.errors && whiskysCatalogField!.touched">
          <div class="error mb-4" *ngIf="whiskysCatalogField!.hasError('required')">
            * Imagen Requerida en formato URL
          </div>
        </div>

        <div class="form-group">
          <!-- <mat-form-field appearance="outline" > -->
            <mat-label for="regalosCatalog">Imagen del Catalogo de Regalos</mat-label>
            <div class="input-group">
              <input
              type="file"
              alife-file-to-base64
              (onFileChanged)="onFileChangedRegalos($event)"  
              name="regalosCatalog" 
              class="form-control" required/>
              <img src="{{this.editForm.value.regalosCatalog}}" height="100px">
            </div>
          <!-- </mat-form-field> -->
        </div>
        <div  *ngIf="regalosCatalogField!.errors && regalosCatalogField!.touched">
          <div class="error mb-4" *ngIf="regalosCatalogField!.hasError('required')">
            * Imagen Requerida en formato URL
          </div>
        </div>

        <div class="form-group">
          <!-- <mat-form-field appearance="outline" > -->
            <mat-label for="combosCatalog">Imagen del Catalogo de Combos</mat-label>
            <div class="input-group">
              <input
              type="file"
              alife-file-to-base64
              (onFileChanged)="onFileChangedCombos($event)"  
              name="combosCatalog" 
              class="form-control" required/>
              <img src="{{this.editForm.value.combosCatalog}}" height="100px">
            </div>
          <!-- </mat-form-field>   -->
        </div>
        <div  *ngIf="combosCatalogField!.errors && combosCatalogField!.touched">
          <div class="error mb-4" *ngIf="combosCatalogField!.hasError('required')">
            * Imagen Requerida en formato URL
          </div>
        </div>

        <div class="form-group">
          <!-- <mat-form-field appearance="outline" > -->
            <mat-label for="aperitivosCatalog">Imagen del Catalogo de Aperitivos</mat-label>
            <div class="input-group">
              <input 
              type="file"
              alife-file-to-base64
              (onFileChanged)="onFileChangedAperitivos($event)"  
              name="aperitivosCatalog" 
              class="form-control" required/>
              <img src="{{this.editForm.value.aperitivosCatalog}}" height="100px">
            </div>
          <!-- </mat-form-field> -->
        </div>
        <div  *ngIf="aperitivosCatalogField!.errors && aperitivosCatalogField!.touched">
          <div class="error mb-4" *ngIf="aperitivosCatalogField!.hasError('required')">
            * Imagen Requerida en formato URL
          </div>
        </div>

        <div class="form-group">
          <!-- <mat-form-field appearance="outline" > -->
            <mat-label for="sinAlcoholCatalog">Imagen del Catalogo de Sin Alcohol</mat-label>
            <div class="input-group">
              <input 
              type="file"
              alife-file-to-base64
              (onFileChanged)="onFileChangedSinAlcohol($event)"  
              name="sinAlcoholCatalog" 
              class="form-control" 
              required/>
              <img src="{{this.editForm.value.sinAlcoholCatalog}}" height="100px">
            </div>
          <!-- </mat-form-field> -->
        </div>
        <div  *ngIf="sinAlcoholCatalogField!.errors && sinAlcoholCatalogField!.touched">
          <div class="error mb-4" *ngIf="sinAlcoholCatalogField!.hasError('required')">
            * Imagen Requerida en formato URL
          </div>
        </div>

      </form>
  
      <div class="modal-footer">
  
        <button
          type="button"
          class="btn btn-primary"
          (click)="modal.close('Save click')"
        >
          Cerrar
        </button>
        <button data-dismiss="modal" class="btn btn-danger" (click)="onSave()" [disabled]="!editForm.valid">
          Actualizar
        </button>
      </div>
    </div>
  </ng-template>
