.main-container{
    text-align: center;
    width: 70vw;
    height: 100vh;
}
a {
    list-style: none;
    text-decoration: none;
}
h3{
    font-size: 1rem;
    margin: 3px 0 0 0;
    color: #444;
    font-weight: 500;
}
span{
    font-size: 0.8rem;
    margin: 3px 0 0 0;
    color: #444;
    font-weight: 500;
}
.btn-buy{
    text-decoration: none;
    text-align: center;
}
