<app-navbar></app-navbar>

<div class="align-items-center justify-content-center" >
<figure>
    <a href="#">
        <img class="img-settings" src="../assets/img/slide.jpg" alt="image">
    </a>
</figure>
<a href="#" class="align-items-center justify-content-center">
    <h3>title</h3>
</a>
<div class="price-box align-items-center justify-content-center">
    <span class="new-price"><b>$ 1221</b></span>
</div>
    <div class="btn-buy">
        <form action="">
        </form>
    </div>
</div>
<div class="align-items-center justify-content-center" >
    <figure>
        <a href="#">
            <img class="img-settings" src="../assets/img/slide.jpg" alt="image">
        </a>
    </figure>
    <a href="#" class="align-items-center justify-content-center">
        <h3>title</h3>
    </a>
    <div class="price-box align-items-center justify-content-center">
        <span class="new-price"><b>$ 1221</b></span>
    </div>
        <div class="btn-buy">
            <form action="">
            </form>
        </div>
    </div>
    <div class="align-items-center justify-content-center" >
        <figure>
            <a href="#">
                <img class="img-settings" src="../assets/img/slide.jpg" alt="image">
            </a>
        </figure>
        <a href="#" class="align-items-center justify-content-center">
            <h3>title</h3>
        </a>
        <div class="price-box align-items-center justify-content-center">
            <span class="new-price"><b>$ 1221</b></span>
        </div>
            <div class="btn-buy">
                <form action="">
                </form>
            </div>
        </div>

<app-footer></app-footer>