<div class="row">
    <div class="col-12 mt-5">
        <div class="container">
            <table class="table table-striped">
                <thead >
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Estilo</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Unitario</th>
                </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let product of products">
                        <tr>
                            <th scope="row">1</th>
                            <td><img class="image-size" src="{{product.image}}" alt="Imagen del producto"></td>
                            <td>{{product.brand}}</td>
                            <td>{{product.style}}</td>
                            <td>
                                <div class='input-group input-group-sm my-2' style='width:100px'>
                                <button class='btn btn-outline-dark' type='button' (click)="downQuantity(product)">-</button>
                                <input class='form-control text-center' type="number" name="quantity" [(ngModel)]="product.quantity" (focusout)="verifyBeerQuantity(product)"/>
                                <button class='btn btn-outline-dark' type='button' (click)="upQuantity(product)">+</button>
                                </div>
                            </td>
                            <td>{{product.price}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
                    <div class="text-end">
                        <p>Total {{total() | currency:'ARS'}}</p>
                        <button class="btn btn-outline-dark" >Comprar</button>
                    </div>
        </div>
    </div>
</div>