body { height: 100%; }

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, span, a  {
  font-family: 'Roboto', sans-serif;
}

/* Componentes de compras, vistas, carrito y categorias */


.title-container{
  text-align: center;
}
.btn-filter{
  text-align: start;
  display: inline-block;
}
.logoCanvas{
  height: 4em;
  width: 6em;
}
.filter-btns{
  color: white !important;
}

.btn-buy{
  text-decoration: none;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { 
    appearance:textfield;
    -moz-appearance:textfield; 
}
/* FIN Componentes de compras, vistas, carrito y categorias */


/* Boton push to top */
.to-top {
  z-index: 9999;
  bottom: 80px;
  cursor: pointer;
  margin: 0 8px 12px 0;
  padding: 8px 13px;
  position: fixed;
  right: 20px;
  border-radius: 100%;
  background-color: #6c757d;
  display: none;
}

.to-top:hover{
  color: white;
  background-color: black;
}

.show-scrollTop {
  display: block;
  transition: all 0.2s ease-in-out;

}
/* Fin boton push to top*/
